.feedbk{
	height : 400px;
	width : 1200px;
	margin-left : 40px;
	margin-top : 50px;
}
.Heading{
	height : 50px;
	width : 1200px;
	background-color : #E5E2C9;
}
table td{
	width : 200px;
	height : 20px;
}

input [type=text]{
	border: 1px solid grey;
	border-radius : 0px; 
	width : 200px;
	height : 20px;
}
textarea{
	height : 100px;
	width : 300px;
}

select {
	width : 300px;
}
